@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    background: linear-gradient(to top, #be93c5, #7bc6cc);
    background-attachment: fixed;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 20px;
    padding: 20px 0;
    width: 1000px;
}

.contenedor .tarjeta{
    display: flex;
    position: relative;
    height: 250px;
    width: 45%;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background: white;
}

.contenedor .tarjeta .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.contenedor .tarjeta:hover .imagen{
    height: 150px;
    width: 150px;
    left: -75px;
    top: calc(50% - 75px);
}

.contenedor .tarjeta .imagen img{
    max-width: 250px;
    transition: 0.5s ease-in-out;
}

.contenedor .tarjeta:hover .imagen img{
    max-width: 150px;
}

.contenedor .tarjeta .texto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
}

.contenedor .tarjeta .texto h3{
    color: #be93c5;
    margin-bottom: 5px;
    font-size: 24px;
}

.contenedor .tarjeta .texto a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 20px;
    background: #7bc6cc;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.contenedor .tarjeta .texto a:hover{
    background: #be93c5;
}

@media (max-width: 992px){
    .contenedor{
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .contenedor .tarjeta{
        width: 300px;
        height: auto;
        flex-direction: column;
        background: transparent;
        margin: -20px 0;
        box-shadow: none;
    }
    .contenedor .tarjeta:hover .imagen{
        width: 80%;
        height: 200px;
        top: 100px;
        left: 10%;
    }
    .contenedor .tarjeta .imagen{
        position: relative;
    }
    .contenedor .tarjeta .imagen,.contenedor .tarjeta:hover .imagen{
        width: 80%;
        height: 200px;
        top: 100px;
        left: 10%;
    }
    .contenedor .tarjeta:hover .imagen{
        top: 80px;
    }
    .contenedor .tarjeta .imagen img, .contenedor .tarjeta:hover .imagen img{
        max-width: 150px;
    }
    .contenedor .tarjeta .texto{
        position: relative;
        width: 100%;
        padding: 20px 40px 40px;
        background: white;
        box-shadow: none;
        border-radius: 20px;
        border-top: 100px solid white;
    }
}

